<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="apply-mapper">
	
	<resultMap id="applyResultSet" type="Apply">
		<result column="apply_no" property="applyNo"/>
		<result column="apply_comment" property="applyComment"/>
		<result column="apply_prog" property="applyProg"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
		<result column="user_no" property="userNo"/>
		<result column="recruit_no" property="recruitNo"/>
	</resultMap>
	
	<resultMap id="applyHistoryResultSet" type="ApplyList">
		<result column="recruit_title" property="recruitTitle"/>
		<result column="recruit_requ" property="recruitRequ"/>
		<result column="recruit_dl" property="recruitDl"/>
		<result column="apply_prog" property="applyProg"/>
		<result column="apply_no" property="applyNo"/>
		<result column="user_no" property="userNo"/>
		<result column="created_at" property="createdAt"/>
	</resultMap>
	
	<!-- 회원의 지원 내역조회 -->
	<select id="selectApplyList" resultMap="applyHistoryResultSet">
        
        select
		       r.recruit_title
		     , r.recruit_requ
		     , to_char(r.created_at, 'YYYY-MM-DD') "created_at"
		     , r.recruit_dl
		     , a.apply_prog
		     , a.apply_no
		     , to_char(a.created_at, 'YYYY-MM-DD') "created_at"
		     , a.user_no
		  from applies a
		  join recruits r on (r.recruit_no = a.recruit_no)
		 where user_no = #{userNo}
	
	</select>
	
	<!-- 회원의 지원내역 카운트 조회 -->
	<select id="selectApplyCount" resultType="_int" parameterType="_int">
        select count(*) 
          from  APPLIES 
         where user_no = #{userNo}
    </select>
	
	
	
	
</mapper>
