<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="post-mapper">

    <resultMap id="postResultSet" type="Post">
        <result column="post_no" property="postNo"/>
        <result column="post_content" property="postContent"/>
        <result column="post_img" property="postImg"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_posi" property="userPosi"/>
        <result column="user_comp" property="userComp"/>
    </resultMap>
    <resultMap id="commentResultSet" type="Comment">
        <result column="comment_no" property="commentNo"/>
        <result column="comment_content" property="commentContent"/>
        <result column="post_no" property="postNo"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_comp" property="userComp"/>
    </resultMap>

    <select id="selectListCount" resultType="_int">
        select
            count(*)
        from NUKACOLA.POSTS
    </select>

    <select id="selectPostList" resultMap="postResultSet">
        select POST_NO
     , POST_CONTENT
     , POST_IMAGE
     , to_char(P.created_at, 'YYYY-MM-DD') "created_date"
     , to_char(P.updated_at, 'YYYY-MM-DD') "updated_at"
     , u.user_no
     , USER_NAME
     , USER_POSI
     , USER_COMP
        from Posts P
         left join USERS U on U.USER_NO = P.USER_NO
        order by post_no desc
    </select>

    <insert id="insertPost" parameterType="Post">
        INSERT INTO NUKACOLA.POSTS (POST_NO, POST_CONTENT, POST_IMAGE, CREATED_AT, UPDATED_AT, USER_NO)
        VALUES (SEQ_POST.nextval, #{postContent}, #{postImg}, DEFAULT, DEFAULT, #{userNo})
    </insert>

    <select id="selectCommentList" resultMap="commentResultSet" parameterType="_int">
        select COMMENT_NO,
       COMMENT_CONTENT,
       COMMENTS.USER_NO,
       COMMENTS.POST_NO,
       COMMENTS.CREATED_AT,
       COMMENTS.UPDATED_AT,
       U.USER_NAME,
       U.USER_COMP
from COMMENTS
         left join USERS U on U.USER_NO = COMMENTS.USER_NO
where POST_NO = #{pno};
    </select>
</mapper>
