<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="post-mapper">

    <resultMap id="postResultSet" type="Post">
        <result column="post_no" property="postNo"/>
        <result column="post_content" property="postContent"/>
        <result column="post_img" property="postImg"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_posi" property="userPosi"/>
        <result column="user_comp" property="userComp"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="ISFOLLOWING" property="isFollowing"/>
        <result column="ISLIKED" property="isLiked"/>
    </resultMap>
    <resultMap id="commentResultSet" type="Comment">
        <result column="comment_no" property="commentNo"/>
        <result column="comment_content" property="commentContent"/>
        <result column="post_no" property="postNo"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_comp" property="userComp"/>
        <result column="user_avatar" property="userAvatar"/>
    </resultMap>

    <select id="selectListCount" resultType="_int">
        select
            count(*)
        from NUKACOLA.POSTS
    </select>

    <select id="selectPostList" resultMap="postResultSet" parameterType="_int">
        select P.POST_NO
             , POST_CONTENT
             , POST_IMAGE
             , to_char(P.created_at, 'YYYY-MM-DD') "created_date"
             , to_char(P.updated_at, 'YYYY-MM-DD') "updated_at"
             , u.user_no
             , USER_NAME
             , USER_POSI
             , USER_COMP
             , U.USER_AVATAR
             , C2.FOLLOWER_NO as isFollowing
             , C3.POST_NO as isLiked
        from Posts P
                 left join USERS U on U.USER_NO = P.USER_NO
                 left join (select FOLLOWER_NO,FOLLOWING_NO from CONNECTIONS where FOLLOWING_NO = #{uno}) C2 on P.USER_NO = C2.FOLLOWER_NO
                 left join (select POST_NO from LIKES where USER_NO = #{uno}) C3 on P.POST_NO = C3.POST_NO
        order by post_no desc
    </select>

    <insert id="insertPost" parameterType="Post">
        INSERT INTO NUKACOLA.POSTS (POST_NO, POST_CONTENT, POST_IMAGE, CREATED_AT, UPDATED_AT, USER_NO)
        VALUES (SEQ_POST.nextval, #{postContent}, #{postImg}, DEFAULT, DEFAULT, #{userNo})
    </insert>

    <select id="selectCommentList" resultMap="commentResultSet" parameterType="_int">
        select COMMENTS.COMMENT_NO,
               COMMENTS.COMMENT_CONTENT,
       COMMENTS.USER_NO,
       COMMENTS.POST_NO,
       COMMENTS.CREATED_AT,
       COMMENTS.UPDATED_AT,
       U.USER_NAME,
       U.USER_COMP,
       U.USER_AVATAR
from COMMENTS
         left join USERS U on U.USER_NO = COMMENTS.USER_NO
where POST_NO = #{pno}
        order by COMMENTS.COMMENT_NO desc
    </select>
    <insert id="insertComment" parameterType="Comment">
        INSERT INTO COMMENTS (COMMENT_NO, COMMENT_CONTENT, USER_NO, POST_NO)
        VALUES (SEQ_COMMENT.nextval, #{commentContent}, #{userNo}, #{postNo})
    </insert>

    <insert id="likePost">
        insert INTO LIKES (USER_NO, POST_NO) VALUES (#{userNo},#{postNo})
    </insert>
    <delete id="unlikePost">
        DELETE
        FROM NUKACOLA.LIKES
        WHERE USER_NO = #{userNo}
          AND POST_NO = #{postNo}
    </delete>
</mapper>
