<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">
	<resultMap id="projectResultSet" type="project">
		<result column="project_id" property="projectId"/>
		<result column="project_name" property="projectName"/>
		<result column="project_position" property="projectPosition"/>
		<result column="project_start" property="projectStart"/>
		<result column="project_end" property="projectEnd"/>
		<result column="user_no" property="userNo"/>
	</resultMap>
	
	
	<!-- 프로젝트 추가 -->
	
	<insert id="insertUserProject" parameterType="Project" >
		
		insert
			  into projects
			      (
			       project_id
			     , user_no  
			     , project_name
			     , project_position
			     , project_start
			     , project_end
			      )
			    values
			      (
			      seq_project.nextval 
			    , #{userNo}
			    , #{projectName}
			    , #{projectPosition}
			    , #{projectStart}
			    , #{projectEnd}
			      )
			      
	</insert>
	<!-- 프로젝트 조회 -->
	<select id="selectProjectList" parameterType="Project" resultMap="projectResultSet">
		select
			   project_id
		     , project_name
		     , project_position
		     , project_start
		     , project_end
		 from projects
		 where user_no = #{userNo}
	</select>
	
	<!-- 프로젝트 수정 -->
	<update id="updateProject" parameterType="Project">
		
		update 
        			projects
			  	set   
			        PROJECT_NAME
			       ,PROJECT_POSITION
			       ,PROJECT_START
			       ,PROJECT_END
			  where user_no = #{userNo}
	</update>
	

	

	
</mapper>