<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recruit-mapper">
    <resultMap id="recruitDetailResultSet" type="RecruitDetail">
        <result column="recruit_no" property="recruitNo"/>
        <result column="recruit_title" property="recruitTitle"/>
        <result column="recruit_info" property="recruitInfo"/>
        <result column="recruit_state" property="recruitState"/>
        <result column="recruit_main" property="recruitMain"/>
        <result column="recruit_posi" property="recruitPosi"/>
        <result column="recruit_img" property="recruitImg"/>
        <result column="recruit_minsalary" property="recruitMinSal"/>
        <result column="recruit_maxsalary" property="recruitMaxSal"/>
        <result column="recruit_requ" property="recruitRequ"/>
        <result column="recruit_dl" property="recruitDl"/>
        <result column="recruit_count" property="recruitCount"/>
        <result column="comp_no" property="compNo"/>
        <result column="created_at" property="createdAt"/>
        <result column="comp_name" property="compName"/>
        <result column="comp_info" property="compInfo"/>
        <result column="comp_email" property="compEmail"/>
        <result column="comp_address" property="compAddress"/>
        <result column="comp_headcount" property="compHeadCount"/>
        <result column="comp_birth" property="compBirth"/>
        <result column="comp_pm" property="compPm"/>
        <result column="manager_no" property="managerNo"/>
        <result column="manager_avatar" property="managerAvatar"/>
        <result column="manager_name" property="managerName"/>
        <result column="manager_comp" property="managerComp"/>
    </resultMap>
    <resultMap id="recruitDetailSkillResultSet" type="RecruitSkill">
        <result column="skill_name" property="skillName"/>
        <result column="skill_no" property="skillNo"/>
    </resultMap>
	<resultMap id="RecruitResultSet" type="Recruit">
		<result column="recruit_no" property="recruitNo"/>
		<result column="recruit_title" property="recruitTitle"/>
		<result column="recruit_info" property="recruitInfo"/>
		<result column="recruit_state" property="recruitState"/>
		<result column="recruit_main" property="recruitMain"/>
		<result column="recruit_posi" property="recruitPosi"/>
		<result column="recruit_img" property="recruitImg"/>
		<result column="recruit_minsalary" property="recruitMinSal"/>
		<result column="recruit_maxsalary" property="recruitMaxSal"/>
		<result column="recruit_requ" property="recruitRequ"/>
		<result column="recruit_dl" property="recruitDl"/>
		<result column="recruit_count" property="recruitCount"/>
		<result column="comp_no" property="compNo"/>
		<result column="created_at" property="createdAt"/>
		<result column="comp_name" property="compName"/>
	</resultMap>
	<resultMap id="skillResultSet" type="Skills">
		<result column="skill_no" property="skillNo"/>
		<result column="skill_name" property="skillName"/>
		<result column="created_at" property="createdAt"/>
	</resultMap>
    <resultMap id="recruitManageResultSet" type="RecruitManage">
    	<result column="recruit_no" property="recruitNo"/>
        <result column="recruit_title" property="recruitTitle"/>
        <result column="r.recruit_dl" property="recruitDl"/>
        <result column="apply_no" property="applyNo"/>
        <result column="apply_prog" property="applyProg"/>
        <result column="a.created_at" property="appliedAt"/>
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="comp_no" property="compNo"/>
    </resultMap>

    <resultMap id="applyResultSet" type="Apply">
        <result column="apply_no" property="applyNo"/>
        <result column="apply_comment" property="applyComment"/>
        <result column="apply_prog" property="applyProg"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="user_no" property="userNo"/>
        <result column="recruit_no" property="recruitNo"/>
        <result column="recruit_title" property="recruitTitle"/>
        <result column="comp_no" property="compNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_edu" property="userEdu"/>
        <result column="manager1_no" property="manager1No"/>
        <result column="manager2_no" property="manager2No"/>
    </resultMap>
    <resultMap id="ApplyCareerSet" type="ApplyCareer">
        <result column="comp_no" property="compNo"/>
        <result column="career_posi" property="careerPosi"/>
        <result column="entered_at" property="enteredAt"/>
        <result column="comp_name" property="compName"/>
        <result column="comp_logo" property="compLogo"/>
    </resultMap>
    <select id="selectRecruitDetail" parameterType="_int" resultMap="recruitDetailResultSet">
        SELECT RECRUIT_NO,
               RECRUIT_TITLE,
               RECRUIT_INFO,
               RECRUIT_STATE,
               RECRUIT_MAIN,
               RECURIT_POSI,
               RECRUIT_IMG,
               RECRUIT_MINSALARY,
               RECRUIT_MAXSALARY,
               RECRUIT_REQU,
               RECRUIT_DL,
               RECRUIT_COUNT,
               C2.COMP_NO,
               RECRUITS.CREATED_AT,
               COMP_NAME,
               COMP_INFO,
               COMP_EMAIL,
               COMP_ADDRESS,
               COMP_HEADCOUNT,
               COMP_BIRTH,
               COMP_PM,
               U.USER_NO as Manager_No,
               U.USER_AVATAR  as Manager_Avatar,
               U.USER_NAME as Manager_Name,
               U.USER_COMP as Manager_Comp
        FROM RECRUITS
                 LEFT JOIN COMPANYS C2 on C2.COMP_NO = RECRUITS.COMP_NO
                 LEFT JOIN USERS U on U.USER_NO = C2.USER_NO
        WHERE RECRUIT_NO = #{rno}
    </select>
    <select id="selectAppliesCount" resultType="_int" parameterType="_int">
        select count(*) from APPLIES where RECRUIT_NO = #{rno}
    </select>
    <select id="selectDetailSkills" parameterType="_int" resultMap="recruitDetailSkillResultSet">
        SELECT s.SKILL_NAME, S.SKILL_NO
        FROM RECRUIT_SKILLS
                 LEFT JOIN SKILLS S on S.SKILL_NO = RECRUIT_SKILLS.SKILL_NO
        WHERE RECRUIT_NO = #{rno}
    </select>
    <insert id="insertDeclare" parameterType="Declare">
        INSERT INTO NUKACOLA.DECLARES (USER_NO, RECRUIT_NO, DECLARE_TITLE, CREATED_AT)
        VALUES (#{userNo}, #{recruitNo}, #{declareTitle}, DEFAULT)
    </insert>
    
    
    <insert id="insertRecruit" parameterType="Recruit">
    		
    		insert into 
    		       recruits
    		       (
    		         RECRUIT_NO
					,RECRUIT_TITLE
					,RECRUIT_INFO
					,RECRUIT_STATE
					,RECRUIT_MAIN
					,RECURIT_POSI
					,RECRUIT_IMG
					,RECRUIT_MINSALARY
					,RECRUIT_MAXSALARY
					,RECRUIT_REQU
					,RECRUIT_DL
					,RECRUIT_COUNT
					,COMP_NO
					,CREATED_AT
    		       )
    			   values
    			   (
    			     seq_recruit.nextval
    			    ,#{recruitTitle}
    			    ,#{recruitInfo}
    			    ,default
    			    ,#{recruitMain}
    			    ,#{recruitPosi}
    			    ,#{recruitImg}
    			    ,#{recruitMinSal}
    			    ,#{recruitMaxSal}
    			    ,#{recruitRequ}
    			    ,#{recruitDl}
    			    ,default
    			    ,#{compNo}
    			    ,default
    			   
    			   )
    		
    
    
    </insert>
    
    
    <select id="selectCompNo" parameterType="_int" resultType="_int">
    
    	     select
		            comp_no

		     from companys       
		     join users using (user_no)
		     where user_no = #{userNo}

    </select>
    
    <select id="selectRecruitManageDetail" resultMap="recruitManageResultSet">
    
    		select
			      recruit_no <!-- 채용공고식별자  --> 
			    , recruit_title <!-- 채용제목 -->
			    , apply_no <!-- 지원공고식별자  --> 
			    , apply_prog <!-- 채용단계  --> 
			    , to_char(a.created_at, 'YYYY-MM-DD') "a.created_at"<!-- 지원일  --> 
			    , user_no <!-- 채용공고식별자  --> 
			    , u.user_name <!-- 채용공고식별자  --> 
			    , u.user_avatar <!-- 채용공고식별자  --> 
			    , r.comp_no  <!-- 채용공고식별자  --> 
			    , floor(to_date(r.recruit_dl,'MM/DD/YYYY')-sysdate) "r.recruit_dl" <!-- 남은날  --> 
			from applies a
			join recruits r using(recruit_no)
			join users u using (user_no)
			where recruit_no = #{recruitNo}
			order by a.created_at desc
    
    </select>
    
    <select id="selectBookmarkCount" parameterType="_int" resultType="_int">
    		
    		select count(*)
			  from bookmarks
			 where recruit_no = #{rno}
    
    </select>
    
    <select id="selectCompCount" resultType="_int">
    	select
    		  count(distinct comp_no)
    	  from recruits
    	  where recruit_state=0
    </select>
    
    <select id="selectCompCountWithKey" 
    		parameterType="hashMap"
    		resultType="_int">
    	select
		      count(distinct comp_no)
		      from recruits
		      left join recruit_skills using(recruit_no)
		      left join skills using(skill_no)
		      left join compindus using(comp_no)
		      left join industries using(indus_no)
		      left join companys using(comp_no)
		      where recruit_state=0
		      	<foreach collection="keyword" item="k" separator=" ">
			      	and upper(recruit_title) like upper('%' || #{k} || '%')
		        </foreach>
		        <foreach collection="position" item="p" open=" and (" separator=" or " close=")">
			        recurit_posi = #{p}
		        </foreach>
		        <foreach collection="industry" item="i" open=" and (" separator=" or " close=")">
		        	upper(indus_name) like upper('%' || #{i} || '%')
		        </foreach>
		        <foreach collection="techStack" item="t" open=" and (" separator=" or " close=")">
		        	upper(skill_name) like upper('%' || #{t} || '%')
		        </foreach>
		        <foreach collection="condition" item="c" open=" and (" separator=" or " close=")">
		        	recruit_requ = #{c}
		        </foreach>
				<foreach collection="salary" item="sal"	index="i">
					<if test="i==0">
						and recruit_minsalary>=#{sal}
					</if>
					<if test="i==1">
						and #{sal}>=recruit_maxsalary
					</if>
				</foreach>       	
		        <foreach collection="address" item="addr" open=" and (" separator=" or " close=")">
		        	upper(comp_address) like upper('%' || #{addr} || '%')
		        </foreach>
    </select>
    
    <select id="selectCnoList" resultType="String">
    	select
    		  distinct comp_no
    	  from recruits
    	 where recruit_state=0
    </select>
    <select id="selectCnoListWithKey" 
    		parameterType="hashMap"
    		resultType="String">
    	select
		      distinct comp_no
		      from recruits
		      left join recruit_skills using(recruit_no)
		      left join skills using(skill_no)
		      left join compindus using(comp_no)
		      left join industries using(indus_no)
		      left join companys using(comp_no)
		      where recruit_state=0
		      	<foreach collection="keyword" item="k" separator=" ">
			      	and upper(recruit_title) like upper('%' || #{k} || '%')
		        </foreach>
		        <foreach collection="position" item="p" open=" and (" separator=" or " close=")">
			        recurit_posi = #{p}
		        </foreach>
		        <foreach collection="industry" item="i" open=" and (" separator=" or " close=")">
		        	upper(indus_name) like upper('%' || #{i} || '%')
		        </foreach>
		        <foreach collection="techStack" item="t" open=" and (" separator=" or " close=")">
		        	upper(skill_name) like upper('%' || #{t} || '%')
		        </foreach>
		        <foreach collection="condition" item="c" open=" and (" separator=" or " close=")">
		        	recruit_requ = #{c}
		        </foreach>
				<foreach collection="salary" item="sal"	index="i">
					<if test="i==0">
						and recruit_minsalary>=#{sal}
					</if>
					<if test="i==1">
						and #{sal}>=recruit_maxsalary
					</if>
				</foreach>       	
		        <foreach collection="address" item="addr" open=" and (" separator=" or " close=")">
		        	upper(comp_address) like upper('%' || #{addr} || '%')
		        </foreach>
    </select>
    
    <select id="selectRecruitList"
    		parameterType="_int"
    		resultMap="RecruitResultSet">
    	select
    		     RECRUIT_NO
				,RECRUIT_TITLE
				,RECRUIT_INFO
				,RECRUIT_STATE
				,RECRUIT_MAIN
				,RECURIT_POSI
				,RECRUIT_IMG
				,RECRUIT_MINSALARY
				,RECRUIT_MAXSALARY
				,RECRUIT_REQU
				,RECRUIT_DL
				,RECRUIT_COUNT
				,COMP_NO
				,TO_CHAR(CREATED_AT,'YYYY/MM/DD') CREATED_AT
    	  from recruits
    	 where comp_no=#{cno}
    	   and recruit_state=0
 	</select>
    <select id="selectRecruitListWithKey"
    		parameterType="hashMap"
    		resultMap="RecruitResultSet">
    	select
    		     RECRUIT_NO
				,RECRUIT_TITLE
				,RECRUIT_INFO
				,RECRUIT_STATE
				,RECRUIT_MAIN
				,RECURIT_POSI
				,RECRUIT_IMG
				,RECRUIT_MINSALARY
				,RECRUIT_MAXSALARY
				,RECRUIT_REQU
				,RECRUIT_DL
				,RECRUIT_COUNT
				,COMP_NO
				,TO_CHAR(CREATED_AT,'YYYY/MM/DD') CREATED_AT
    	  from recruits
    	 where recruit_state=0
   	 	<foreach collection="compNo" item="cno" separator=" ">
	      	and comp_no=#{cno}
        </foreach>
        <foreach collection="keyword" item="k" separator=" ">
	      	and upper(recruit_title) like upper('%' || #{k} || '%')
        </foreach>
        <foreach collection="position" item="p" open=" and (" separator=" or " close=")">
	        recurit_posi = #{p}
        </foreach>
        <foreach collection="industry" item="i" open=" and (" separator=" or " close=")">
        	upper(indus_name) like upper('%' || #{i} || '%')
        </foreach>
        <foreach collection="techStack" item="t" open=" and (" separator=" or " close=")">
        	upper(skill_name) like upper('%' || #{t} || '%')
        </foreach>
        <foreach collection="condition" item="c" open=" and (" separator=" or " close=")">
        	recruit_requ = #{c}
        </foreach>
		<foreach collection="salary" item="sal"	index="i">
			<if test="i==0">
				and recruit_minsalary>=#{sal}
			</if>
			<if test="i==1">
				and #{sal}>=recruit_maxsalary
			</if>
		</foreach>       	
        <foreach collection="address" item="addr" open=" and (" separator=" or " close=")">
        	upper(comp_address) like upper('%' || #{addr} || '%')
        </foreach>
 	</select>
 	
 	<select id="selectSkillList" 
 			resultMap="skillResultSet">
		select
			  *
		  from skills
		  order by lower(skill_name) asc
	</select>
	
	<select id="selectLocationList"
			resultType="String">
		select distinct substr(comp_address,1,2) 
		  from companys 
		 where not regexp_like(comp_address,'[0-9]')
	</select>
    
    

    <select id="selectApplyDetail" parameterType="_int" resultMap="applyResultSet">
        select APPLIES.APPLY_NO,
               APPLY_COMMENT,
               APPLY_PROG,
               APPLIES.CREATED_AT,
               APPLIES.UPDATED_AT,
               APPLIES.USER_NO,
               APPLIES.RECRUIT_NO,
               R.RECRUIT_TITLE,
               R.COMP_NO,
               U.USER_NAME,
               U.USER_EDU,
               C2.USER_NO as manager1_no,
               C2.COMP_PM as manager2_no
        from APPLIES
                 left join RECRUITS R on R.RECRUIT_NO = APPLIES.RECRUIT_NO
                 left join USERS U on U.USER_NO = APPLIES.USER_NO
                 left join COMPANYS C2 on R.COMP_NO = C2.COMP_NO
        where APPLY_NO = #{ano}
    </select>

    <select id="selectUserSkills" parameterType="_int" resultMap="recruitDetailSkillResultSet">
        select S.SKILL_NO, S.SKILL_NAME
        from USER_FIELDS
                 left outer join SKILLS S on S.SKILL_NO = USER_FIELDS.SKILL_NO
        where USER_NO = #{uno}
    </select>

    <select id="selectCareers" parameterType="_int" resultMap="ApplyCareerSet">
        select  CAREERS.COMP_NO, CAREER_POSI ,to_char(CAREERS.ENTERED_AT, 'YYYY-MM-DD') as ENTERED_AT, COMP_NAME, COMP_LOGO
        from CAREERS
                 left join COMPANYS C2 on C2.COMP_NO = CAREERS.COMP_NO
        where CAREERS.USER_NO = #{uno}
    </select>

    <update id="changeProgress" parameterType="RecruitSkill">
        UPDATE NUKACOLA.APPLIES t
        SET t.APPLY_PROG = #{skillNo}
        WHERE t.APPLY_NO = #{recruitNo}
    </update>
</mapper>