<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recruit-mapper">
    <resultMap id="recruitDetailResultSet" type="RecruitDetail">
        <result column="recruit_no" property="recruitNo"/>
        <result column="recruit_title" property="recruitTitle"/>
        <result column="recruit_info" property="recruitInfo"/>
        <result column="recruit_state" property="recruitState"/>
        <result column="recruit_main" property="recruitMain"/>
        <result column="recruit_posi" property="recruitPosi"/>
        <result column="recruit_img" property="recruitImg"/>
        <result column="recruit_minsalary" property="recruitMinSal"/>
        <result column="recruit_maxsalary" property="recruitMaxSal"/>
        <result column="recruit_requ" property="recruitRequ"/>
        <result column="recruit_dl" property="recruitDl"/>
        <result column="recruit_count" property="recruitCount"/>
        <result column="comp_no" property="compNo"/>
        <result column="created_at" property="createdAt"/>
        <result column="comp_name" property="compName"/>
        <result column="comp_info" property="compInfo"/>
        <result column="comp_email" property="compEmail"/>
        <result column="comp_address" property="compAddress"/>
        <result column="comp_headcount" property="compHeadCount"/>
        <result column="comp_birth" property="compBirth"/>
        <result column="comp_pm" property="compPm"/>
        <result column="manager_no" property="managerNo"/>
        <result column="manager_avatar" property="managerAvatar"/>
        <result column="manager_name" property="managerName"/>
        <result column="manager_comp" property="managerComp"/>
    </resultMap>
    <resultMap id="recruitDetailSkillResultSet" type="RecruitSkill">
        <result column="skill_name" property="skillName"/>
        <result column="skill_no" property="skillNo"/>
    </resultMap>
    <resultMap id="recruitManageResultSet" type="RecruitManage">
    	<result column="recruit_no" property="recruitNo"/>
        <result column="recruit_title" property="recruitTitle"/>
        <result column="r.recruit_dl" property="recruitDl"/>
        <result column="apply_no" property="applyNo"/>
        <result column="apply_prog" property="applyProg"/>
        <result column="a.created_at" property="appliedAt"/>
        <result column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="comp_no" property="compNo"/>
    </resultMap>

    <select id="selectRecruitDetail" parameterType="_int" resultMap="recruitDetailResultSet">
        SELECT RECRUIT_NO,
               RECRUIT_TITLE,
               RECRUIT_INFO,
               RECRUIT_STATE,
               RECRUIT_MAIN,
               RECURIT_POSI,
               RECRUIT_IMG,
               RECRUIT_MINSALARY,
               RECRUIT_MAXSALARY,
               RECRUIT_REQU,
               RECRUIT_DL,
               RECRUIT_COUNT,
               C2.COMP_NO,
               RECRUITS.CREATED_AT,
               COMP_NAME,
               COMP_INFO,
               COMP_EMAIL,
               COMP_ADDRESS,
               COMP_HEADCOUNT,
               COMP_BIRTH,
               COMP_PM,
               U.USER_NO as Manager_No,
               U.USER_AVATAR  as Manager_Avatar,
               U.USER_NAME as Manager_Name,
               U.USER_COMP as Manager_Comp
        FROM RECRUITS
                 LEFT JOIN COMPANYS C2 on C2.COMP_NO = RECRUITS.COMP_NO
                 LEFT JOIN USERS U on U.USER_NO = C2.USER_NO
        WHERE RECRUIT_NO = #{rno}
    </select>
    <select id="selectAppliesCount" resultType="_int" parameterType="_int">
        select count(*) from APPLIES where RECRUIT_NO = #{rno}
    </select>
    <select id="selectDetailSkills" parameterType="_int" resultMap="recruitDetailSkillResultSet">
        SELECT s.SKILL_NAME, S.SKILL_NO
        FROM RECRUIT_SKILLS
                 LEFT JOIN SKILLS S on S.SKILL_NO = RECRUIT_SKILLS.SKILL_NO
        WHERE RECRUIT_NO = #{rno}
    </select>
    <insert id="insertDeclare" parameterType="Declare">
        INSERT INTO NUKACOLA.DECLARES (USER_NO, RECRUIT_NO, DECLARE_TITLE, CREATED_AT)
        VALUES (#{userNo}, #{recruitNo}, #{declareTitle}, DEFAULT)
    </insert>
    
    
    <insert id="insertRecruit" parameterType="Recruit">
    		
    		insert into 
    		       recruits
    		       (
    		         RECRUIT_NO
					,RECRUIT_TITLE
					,RECRUIT_INFO
					,RECRUIT_STATE
					,RECRUIT_MAIN
					,RECURIT_POSI
					,RECRUIT_IMG
					,RECRUIT_MINSALARY
					,RECRUIT_MAXSALARY
					,RECRUIT_REQU
					,RECRUIT_DL
					,RECRUIT_COUNT
					,COMP_NO
					,CREATED_AT
    		       )
    			   values
    			   (
    			     seq_recruit.nextval
    			    ,#{recruitTitle}
    			    ,#{recruitInfo}
    			    ,default
    			    ,#{recruitMain}
    			    ,#{recruitPosi}
    			    ,#{recruitImg}
    			    ,#{recruitMinSal}
    			    ,#{recruitMaxSal}
    			    ,#{recruitRequ}
    			    ,#{recruitDl}
    			    ,default
    			    ,#{compNo}
    			    ,default
    			   
    			   )
    		
    
    
    </insert>
    
    
    <select id="selectCompNo" parameterType="_int" resultType="_int">
    
    	     select
		            comp_no

		     from companys       
		     join users using (user_no)
		     where user_no = #{userNo}

    </select>
    
    <select id="selectRecruitManageDetail" resultMap="recruitManageResultSet">
    
    		select
			      recruit_no <!-- 채용공고식별자  --> 
			    , recruit_title <!-- 채용제목 -->
			    , apply_no <!-- 지원공고식별자  --> 
			    , apply_prog <!-- 채용단계  --> 
			    , to_char(a.created_at, 'YYYY-MM-DD') "a.created_at"<!-- 지원일  --> 
			    , user_no <!-- 채용공고식별자  --> 
			    , u.user_name <!-- 채용공고식별자  --> 
			    , u.user_avatar <!-- 채용공고식별자  --> 
			    , r.comp_no  <!-- 채용공고식별자  --> 
			    , floor(to_date(r.recruit_dl,'MM/DD/YYYY')-sysdate) "r.recruit_dl" <!-- 남은날  --> 
			from applies a
			join recruits r using(recruit_no)
			join users u using (user_no)
			where recruit_no = #{recruitNo}
			order by a.created_at desc
    
    </select>
    
    
</mapper>