<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name='jdbcTypeForNull'	value='NULL'/>
	</settings>

	<typeAliases>
		<typeAlias type="com.devcat.nucacola.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.devcat.nucacola.member.model.vo.UserFiled" alias="UserFiled"/>
		<typeAlias type="com.devcat.nucacola.member.model.vo.Connection" alias="Connection"/>
		<typeAlias type="com.devcat.nucacola.company.model.vo.Company" alias="Company"/>
		<typeAlias type="com.devcat.nucacola.company.model.vo.Industries" alias="Industries"/>
		
		<typeAlias type="com.devcat.nucacola.common.model.vo.Skills" alias="Skills"/>
		<typeAlias type="com.devcat.nucacola.posts.model.vo.Post" alias="Post"/>
		<typeAlias type="com.devcat.nucacola.posts.model.vo.Comment" alias="Comment"/>
		<typeAlias type="com.devcat.nucacola.posts.model.vo.Like" alias="Like"/>
		<typeAlias type="com.devcat.nucacola.member.model.vo.Bookmark" alias="Bookmark"/>
		<typeAlias type="com.devcat.nucacola.member.model.vo.CompSub" alias="CompSub"/>
		<typeAlias type="com.devcat.nucacola.company.model.vo.CompIndus" alias="CompIndus"/>
		<typeAlias type="com.devcat.nucacola.member.model.vo.Project" alias="Project"/>
		<typeAlias type="com.devcat.nucacola.member.model.vo.Career" alias="Career"/>
	</typeAliases>
	
	<!-- 원래 DB접속 관련된 내용들을 작성했으나 다룬곳에서 작성 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/company-mapper.xml"/>
		<mapper resource="/mappers/post-mapper.xml"/>
		<mapper resource="/mappers/project-mapper.xml"/>
	</mappers>
</configuration>
